<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-2399-001.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1550</integer>
	<key>Filename</key>
	<string>iPhone3,1_7.0.6_11B651_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone3,1_7.0.6_11B651</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>SHA1</key>
	<string>7fee14771f451dbb5c64d536b521ff199f6c6cd9</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B651.N90OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>7292f65034756d9b9fc4e9495466d09c7c9a2a4fde1deb110e11a21f8e4cc03f</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>4554e678d533994103b0176fbd3032fe</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>229368d85246f2127a89cc54dedf32f01ce723e30c1946447039d7e5499af8ec</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>9c82fe1f1363cc56dc953f366dc8ffea</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>Key</key>
			<string>f3e22f15135d44855888fb7ce0afcc81430796d613cd060e20a56d6e33a33502</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>235743f624c00a1a0c43f45019fcb81d</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>Key</key>
			<string>98fd6c5260d2fbc2a4356d949668fb63a41b8caf5f44cde34a0437a48e4b152c</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>37e3909dfb8d38d4c0cd070c12180b39</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-2320-001.dmg</string>
			<key>Key</key>
			<string>e97253a8a78300582e20d567b7d74881fa57b9cb8022e49145ace339d29ff4c1</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>748fc9042d238c4ff65826cf7c3985e7</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>Key</key>
			<string>8ef810edb31288d7943297e7ce1a1fbefccb07089d23de2d62b83c0af4f0d2c1</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>fd0ee1bba25450dd2e3ae7769ae9d72d</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>7afec854812562e92ee22afea154371ab07c1cc30892a01c355bb34565e800398c169f80</string>
</dict>
</plist>
