<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-4520-010.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1600</integer>
	<key>Filename</key>
	<string>iPhone3,1_7.1.2_11D257_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone3,1_7.1.2_11D257</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>SHA1</key>
	<string>81da17b3e893a61508fe203849b7e1f60e2127b1</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.N90OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>23dda7990807b4225d589dc11099a4a8bd122089b93759d6356e9525f986584c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>a5854328e525031dc205d6e476a8b1bb</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>3273904a1cfd111a20d6a53f2636902db1193dad5f0acf3837dd7c79fb3b795f</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>ca528426065da305c19476477a39ed18</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>Key</key>
			<string>b93c3a564dc36e184871e246fa8df725ecebafb38c042b6302b333c39e7d1787</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>d2f224a2d7e04461ec12ac81f91d657a</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>Key</key>
			<string>73f0cef0f12ed5e43b53c87373a2be672481c4fc0f1f542c5e8da8b7d518611f</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>2287b716b833ba84566cf365e3368d37</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4107-013.dmg</string>
			<key>Key</key>
			<string>23582ce84d0149c1819b72948c6a55a155c1fa4366678a9e51a6f66f5a77de10</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>4bd50f8abb89925f20793baac84ad76b</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>Key</key>
			<string>9b05ef79c63c59e71f253219ffaa952f25f6810d3863aac2b49628e64f9f0869</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>a1aee41423e11a44135233dd345433ce</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>38d0320d099b9dd34ffb3308c53d397f14955b347d6a433fe173acc2ced1ae78756b3684</string>
</dict>
</plist>
