<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-4520-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1580</integer>
	<key>Filename</key>
	<string>iPhone3,1_7.1_11D169_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone3,1_7.1_11D169</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>SHA1</key>
	<string>c657505db208a73a5e27708816b87e8be3997d9a</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D169.N90OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>109ae12f073401f16aa19cc87b223335e2aa6a603a53e1022fb1ce904000a091</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>6073dcb7441392f4f3a882e7d0b8b398</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>28a96dac939f217bb835dc94d32163b05abe7d1f8a4a8273a3f5eb2a89a74eec</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>b3cc19dfe3f44987ef84d56e18396cfa</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>Key</key>
			<string>600727bdf1763a06828311112fbcabf2ae7b3d47e8a28dd90977bc2ec7e896ec</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>91cc1bc9c4f5916fb5e2f9e79757204e</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>Key</key>
			<string>f43e2363f0b314dae406eb61d7ee24c51390a0bce1b92bd0dc73a67643d0bb4b</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>e207bd2bb14ef48628cfc4809ef93e4b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4107-003.dmg</string>
			<key>Key</key>
			<string>4556397890853199c3bea8ef5626d97aa098e9e64cb86a759ae48b8d5b08d535</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>08e9f8988fccd4783e906388c3ac0064</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>Key</key>
			<string>9faac3ffc914e18d1d6a01073d89b051822c389ce6c25fa836c8a4550a0e4bed</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>6aef6cac733cae81e66269cc3eff4f9c</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>7aa3a515804a8c256da56c065ff28db9150c8ee3898a4525ab2c40100d1bb0ff8b287e78</string>
</dict>
</plist>
