<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>fc3a2c73bcc6dcacb5cc4bcd23a287f2</string>
			<key>Key</key>
			<string>3f826da918ecf174481a0a75ee9229e7eb3f0fdf892fc8f894b024e972698ad8</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-5512-003.dmg</string>
			<key>IV</key>
			<string>4e1f7c7bbd422056d58c71ac09fb4f1e</string>
			<key>Key</key>
			<string>6c8e84211adeee5f4118869d82c371237f589cf77ec12e89d58d08d7a41a8aca</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cc7a22d7a097266bab807fd6dc52056d</string>
			<key>Key</key>
			<string>1a669876c9e6e1423fe153ca7ab817a9c210fea5e96fb5e52cb4c6e8b3ef4a1c</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d27e94c066831e6148937622ea4b41aa</string>
			<key>Key</key>
			<string>cce6b84ba39aaa034dfe63efd8fac8c745f7585b8dc305f2c514d5ac9d530c02</string>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>d7db2341b49d3af5521cc18b3218bad8</string>
			<key>Key</key>
			<string>e48c1e8c85c0585ac0c062d3176949c269826fddb171e97b5982c97956db2f43</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>230c11190485c39a171d80fd79a6d40a</string>
			<key>Key</key>
			<string>394016a4ceea8bba7dbc9b21f2141ee47e6c0a4aa300354774422f1128a2aab2</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>RootFilesystem</key>
	<string>038-5508-003.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>999</integer>
	<key>RootFilesystemKey</key>
	<string>d5811298fa4bb88e0bb15c7d16abe69ee74666bd263db16b59eb64b98872de0f9438a56b</string>
	<key>RootFilesystemMountVolume</key>
	<string>Hoodoo9B208.N90OS</string>
	<key>SHA1</key>
	<string>1209f57051f675d0328c08a894b073589f9eeb20</string>
	<key>Filename</key>
	<string>iPhone3,1_5.1.1_9B208_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_5.1.1_9B208</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
