<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>048-8535-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1550</integer>
	<key>Filename</key>
	<string>iPhone3,1_7.0.2_11A501_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone3,1_7.0.2_11A501</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>SHA1</key>
	<string>d4d085097955b64a9c2722531282e708027dd263</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A501.N90OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>18785b505d7056ed0b39707fe4e17bd73e6046f7a66409226e63da598209d970</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>a10dacd67ba82552b6916a46143f3b5b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>cb9d29a053090c9cba64ecc7e08ad99fa9e969d3a605752782766fddfdc8fa17</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>4997138db9b49baf188c2c1005848ca3</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>Key</key>
			<string>3ce3231f8a407f2b6b61fb1355c85d77fe77fb50946223cc4ab435636f43a9a3</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>c9c761eddf1cc00db3b359c0442b9220</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>Key</key>
			<string>45c4a90d7ad31142ba74a540dacfc18d394b9e915e5ebe63f1bbc8ab65e9e0aa</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>8aff845bf509596849378a95c1886929</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-9414-002.dmg</string>
			<key>Key</key>
			<string>9b8a1163d5273f822c6d178b3e5a5e6d3bb3bb56164957c45cb61900a3ee7015</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>505940fadf550d798521d089cfe6bc28</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>Key</key>
			<string>a9d355022b0db675fed6b9c3708697a0438f07bb2b14ecb5815032c46cb6606c</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>01495e8d6646f186a94c52249ecb2a04</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>5c7df14ad37eb9e382649158cf6146afed6d4c9c26467ce70272044d06ccf80dc4074799</string>
</dict>
</plist>
