<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_5.1.1_9B206_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-4361-021.dmg</string>
			<key>IV</key>
			<string>3474f5208fc45aae32734213171b95ee</string>
			<key>Key</key>
			<string>4f1419111e1c66c2e597fa79acfad75ce501d043af6eda8a980b6cd4332823ec</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>863b51688385f28267112e02bb7cf910</string>
			<key>Key</key>
			<string>2f2cf5c8ee5515b0889d0f1c9a071e353c210f616db22a3389b4bc6c45d1ab00</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>cf59841c24fcaaca03beac5733563a91</string>
			<key>Key</key>
			<string>fd757514d0086be75e9ac2a3c601d1ef6cc7e0eeedb048be19b0a2cdf43b9803</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>9d8c3366e67a76fba95288c2da08f677</string>
			<key>Key</key>
			<string>b165b5f5eaa3f9c4caa1ead70db3075f80f2d9ad86be84cfa42188fac3ef3c09</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>19db86b7cfa95c222d50c9e3fe6c2681</string>
			<key>Key</key>
			<string>84b1dc2baa4573899128ae72cd8d2e27cd024ef563755362e6c07547463a6e6b</string>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>345a34eb3caf3af6a72a0a9559c2e1f9</string>
			<key>Key</key>
			<string>3ffb0887082322cc696a3b1dd69547880363a6f54f1a03b20132d401278f3e47</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_5.1.1_9B206_Restore</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-4292-008.dmg</string>
	<key>RootFilesystemKey</key>
	<string>e897c2d0aaaea8f2752ff6e144c6efc3158a5dad13c6b95ebe8b99885fc6ad0f6b5448f7</string>
	<key>RootFilesystemMountVolume</key>
	<string>Hoodoo9B206.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>1050</integer>
	<key>SHA1</key>
	<string>a03a29c4dd2016edb3da72c3e26e30fbf0f42b2f</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
