<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,1_6.0.1_10A523_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>038-7924-011.dmg</string>
			<key>IV</key>
			<string>194e366b834b8f9e9198501c97bce415</string>
			<key>Key</key>
			<string>cae9139cc5acc140d56af65a6fb99635dd6d404ae928f359030c34dccea4b5c6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>37da02aa49090b789d9bb776b7510cde</string>
			<key>Key</key>
			<string>19729032039995f9442c181de80acf6f2cd958194391125214c313ed9f1b9f13</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>abab1567820728d241ac0e25b8affa15</string>
			<key>Key</key>
			<string>8ba953615e9d89e0e8025e7f1d156da9f49b045a3b4fa23defacb2ee6808986e</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>fa0abf89c62f9be2e9d724ce8ff92965</string>
			<key>Key</key>
			<string>eddd34308ec6138bfccd1004e9ea03e7217dc685e92515613d0d06135eeff71c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>4517bebd4d0fad488bd88f671831609d</string>
			<key>Key</key>
			<string>151c7f6bacb40445de2daf2c148a30e575e08d2838d748c8bdd3b5035c2c89c7</string>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>11fd507c05c222c9ea30634eada9d391</string>
			<key>Key</key>
			<string>9b9bd947f740e60ca8952f8f9a5761dc8eab731cf89e23e8691d64e16074234f</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,1_6.0.1_10A523</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>038-7954-010.dmg</string>
	<key>RootFilesystemKey</key>
	<string>43fd5c7357cfc1bfa0c16ab72343bcb9e8974922b3c00af7a27cf522d2dca3ec471a6f83</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sundance10A523.N90OS</string>
	<key>RootFilesystemSize</key>
	<integer>1250</integer>
	<key>SHA1</key>
	<string>3d123107c71588fef6f03bd1fc8ca42bda400621</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
