<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-00422-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1580</integer>
	<key>Filename</key>
	<string>iPhone3,1_7.1.1_11D201_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone3,1_7.1.1_11D201</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>SHA1</key>
	<string>49469a01e7c3ffbbd0432610f4b44741623527a4</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>SUSochi11D201.N90OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>3ef394e14c85b6eaf13eaed475c4b6d3d454ea73ce68aa7821241592bf57a91e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>8dd763603d922c71c3159d06bb496feb</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>c5d598bd0d1890a69aa2ec5c10cb16985d504aa0b411bfea54e6c1d737ea2fb4</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>IV</key>
			<string>30c10b56842f409b19ba53be32976407</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>Key</key>
			<string>2bf0595f2413d7f39f5236aac7e2302e613254a3a4defa63ab3f55ebf26db712</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>f88de0147ed4b94926c0efcbfb7dffd2</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>Key</key>
			<string>1eef36f8b99d39e1f84898e0e4dd32cdeac37aedc4b954fae8ffdcb3c55df9d6</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8930x.img3</string>
			<key>IV</key>
			<string>4f66381c0df73a7977c70c82ef039e6a</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00093-002.dmg</string>
			<key>Key</key>
			<string>552bef4420fe3c44ddab0d8eb316904e4ee92f4dca2a2009b4d034fc35a4220e</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>0b25f497b35fb9af90b77357e680be49</string>
		</dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>Key</key>
			<string>856e944981b216a1ea0ad52c348d4c23f047317bfe70ac07152302af7e7248cd</string>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>77df18d77603aea97a8e35f3c913f477</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>3625d825f8513f666a8293cc5162770238676e3e6476a44b34e9583ce3850527b7ccd367</string>
</dict>
</plist>
