<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>RestoreKernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n90</string>
			<key>IV</key>
			<string>7b2070c0552d25ec7f8132a9d3dbaf21</string>
			<key>Key</key>
			<string>b84e3f36912de8d62155c8f7bc84263809dbe1cf40ece2771e22f260b995a3e6</string>
			<!--key>Patch</key>
			<string>kernelcache.release.patch</string-->
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n90</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<!--key>Update Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0838-002.dmg</string>
			<key>IV</key>
			<string>9d1b9ffe841b3a95a7f886294f00d12c</string>
			<key>Key</key>
			<string>5a2e6bf4f158b59f63e006a4d44adfb636d4d7011325176ba73578d1040d70df</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict-->
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-1037-002.dmg</string>
			<key>IV</key>
			<string>fab2441195cde907e72d8edc17313173</string>
			<key>Key</key>
			<string>2d37685fadf19212f422c37dd6beb5191098b56c9efecb0d894946c5079d33b6</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>f6a85b0dc5f5fdd1bf60dbebabf7cbb4</string>
			<key>Key</key>
			<string>96cb3c60be2dca2c80d1ea9f569da4745c87bc76e3db3e2bb5de950b2ceb4e06</string>
			<key>Patch</key>
			<string>iBSS.n90ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n90ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>007445532f74d73324809bb89dd4e227</string>
			<key>Key</key>
			<string>4ba778de8d22c9aa4c82227933d87fff3dd895d4dbbab9566a76b9d58ab331fc</string>
			<key>Patch</key>
			<string>iBEC.n90ap.RELEASE.patch</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/DeviceTree.n90ap.img3</string>
			<key>IV</key>
			<string>7bbc45072734ffc7db4d3d92bb595172</string>
			<key>Key</key>
			<string>6e0a408c461deb8682048405fa9fea8586a038d4415d90a023f279f5e420fd8e</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n90ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n90ap.production/applelogo@2x.s5l8930x.img3</string>
			<key>IV</key>
			<string>3f8242d052747b044ce397913ed0653f</string>
			<key>Key</key>
			<string>8c55091ae1df185dabe7710ee987bc5a06460ca2930f4bf3ddf8b6fcd248fd67</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8930x.img3</string>
		</dict>
	</dict>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
		<!--key>restored_external</key>
		<dict>
			<key>File</key>
			<string>usr/local/bin/restored_external</string>
			<key>Patch</key>
			<string>restored.patch</string>
		</dict-->
	</dict>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n90.plist</string>
	<key>RootFilesystem</key>
	<string>048-0903-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1211</integer>
	<key>RootFilesystemKey</key>
	<string>01c1fb58265e6a22ebe784edf55cc549d4f7f73d5a5769eb7365d1145b3f9e0798b8851a</string>
	<key>RootFilesystemMountVolume</key>
	<string>Brighton10B146.N90OS</string>
	<key>SHA1</key>
	<string>b62c043338898893c210bb81e608b4b099de7c5f</string>
	<key>Filename</key>
	<string>iPhone3,1_6.1.2_10B146_Restore.ipsw</string>
	<key>Name</key>
	<string>iPhone3,1_6.1.2_10B146</string>
	<key>DownloadUrl</key>
	<string></string>
	<key>Platform</key>
	<integer>1</integer>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
